@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-cod-gray: #191919;
  --color-dove-gray: #666666;
  --color-mine-shaft: #212121;
  --color-white: #ffffff;
  --color-gray: #9f9e9e;
  --color-gold-tips: #ddaf12;
}

@theme inline {
  --font-sans: var(--font-poppins-sans);
}

body {
  background: var(--color-cod-gray);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}
